Wcf/CustomUserName/Makarim.Accounting.CustomUNameConsoleClient/Connected Services/ServiceRef/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/Makarim.Accounting.Contracts.Data" />
  <xs:element name="GetAccounts">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAccountsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Makarim.Accounting.Contracts.Data" minOccurs="0" name="GetAccountsResult" nillable="true" type="q1:ArrayOfAccountData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>