Wcf/ClaimsIdentity/Makarim.Accounting.ClaimsIdentityConsoleClient/Connected Services/ServiceRef/Makarim.Accounting.Contracts.Data.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/Makarim.Accounting.Contracts.Data" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Makarim.Accounting.Contracts.Data" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="ArrayOfAccountData">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AccountData" nillable="true" type="tns:AccountData" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAccountData" nillable="true" type="tns:ArrayOfAccountData" />
  <xs:complexType name="AccountData">
    <xs:sequence>
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Number" nillable="true" type="xs:string" />
    </xs:sequence>
    <xs:attribute ref="ser:Id" />
    <xs:attribute ref="ser:Ref" />
  </xs:complexType>
  <xs:element name="AccountData" nillable="true" type="tns:AccountData" />
</xs:schema>